
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_AlfordLayout.cshtml";
}

<h3 class="contentTitle">About</h3>
<p>
    My son, David, loves to play board games.  When he was young, we bought Monopoly Junior &copy for him.
    He played only one game before asking to play the regular version.  The second time he played Monopoly &copy,
    he worked obtained a set of properties and then promptly mortgaged all his other properties to put houses and hotels 
    on as many as he could. By using the same principle while playing The Farming Game, he modeled how corporations 
    could quickly take over the family farming tradition.
</p>
<p>
    Fast paced, fast thinking games like Syzygy &copy and Set &copy and strategy games like Risk &copy were David's favorite.
    Then one day, David met Karen.  They played hundreds of games of Cribbage &copy while they were dating.  Since they been married,
    they play games of random chance and cooperative games, like Pandemic &copy, where everyone who plays wins or loses together.
</p>
<p>
    David doesn't buy just any game.  Those on David's shelves are quality games, which people enjoy playing time and time again.  
    This website offers only those games which have met David's standards.
</p>