
@{
    ViewData["Title"] = "Person Deleted";
    Layout = "~/Views/Shared/_AlfordLayout.cshtml";
}


<h3 class="contentTitle">You have been deleted... never to be found again... unless you start from the beginning.</h3>

<p>
    <a href="@Url.Action("Index", "Alford")">Home</a>
</p>

