@model Alford_Craig.Models.Person

@{
    ViewData["Title"] = "Add Person";
    Layout = "~/Views/Shared/_AlfordLayout.cshtml";
}

<h2 class="contentLabel">Add Person</h2>

<form method="post" asp-action="DisplayPerson">
    <p>
        <label asp-for="FName" class="labelPerson">First name:</label>
        <input type="text" class="form-control" asp-for="FName" required />
    </p>
    <p>
        <label asp-for="LName" class="labelPerson">Last name:</label>
        <input type="text" class="form-control" asp-for="LName" required />
    </p>
    <p>
        <label asp-for="email" class="labelPerson">Email:</label>
        <input type="email" class="form-control" asp-for="email" required />
    </p>
    <p>
        <label asp-for="phone" class="labelPerson">Phone:</label>
        <input type="text" class="form-control" asp-for="phone" required />
    </p>
    <p>
        <label asp-for="address" class="labelPerson">Address:</label>
        <input type="text" class="form-control" asp-for="address" required />
    </p>
    <p>
        <label asp-for="UserName" class="labelPerson">User Name:</label>
        <input type="text" class="form-control" asp-for="UserName" required />
    </p>
    <p>
        <label for="Password" class="labelPerson">Password:</label>
        <input type="password" class="form-control" name="Password" required />
    </p>
    <p>
        <label class="labelPerson"></label>
        <button type="submit" class="btn submit btn-primary">Submit</button>
    </p>
    <p>
        <h4 id="AddPersonError">@ViewBag.AddPersonError</h4>
    </p>
    <p>
        <a href="@Url.Action("Index","Alford")">Return to Login</a>
    </p>
</form>

